<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp Registration</title>
  <a href="#"></a>
  </head>
  <body>
    <section class="h-100 h-custom" style="background-color: #8fc4b7;">
      <div class="container py-5 h-100">
      <div id="main-container-mid" class="row justify-content-center"> 
        <form action="/register" method="POST">
          <div id="sign-up" class="text-center">
            <h2>Create Account</h2>
          </div>
          <label for="email" aria-label="email"></label>
          <input id="email" class="block-input-field" type="email" name="email" placeholder="email address">
          <label for="password" aria-label="password"></label>
          <input id="password" class="block-input-field" type="password" name="password" placeholder="password">
          <input type="submit" id="register-button" class="btn btn-primary" value="Register">
        </form>
      </div>
      </div>
    </section>
</body>
</html>
